@import './font/index.styl';

/*
  为什么放到 /font/index.styl 
  字体路径异常,偶尔需要刷新该文件才能显示字体
  在该文件路径为'/src/assets/style/font/Rhyder.woff'
  需要刷新当前页才显示
*/
@font-face 
  font-family 'Rhyder'
  src  url('./font/Rhyder.woff') format('woff')